@{
    ViewData["Title"] = "Bans";
    @model List<PlayerBan>
    Player player = PlayerManager.Player;
    bool hasAccess = false;
    if (player != null)
    {
        hasAccess = player.Role != 'D';
        <script>
            var hasAccess = new Boolean(@hasAccess.ToString().ToLower());
        </script>
    }
    
}

<table id="table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <td>BanID</td>
            <td>Player</td>
            <td>Punisher</td>
            <td>Reason</td>
            <td>Duration</td>
            <td>Date</td>
        </tr>
    </thead>
    <tbody id="searchData">
        @foreach (PlayerBan ban in Model)
        {
            <tr>
                <td>@ban.BanId</td>
                <td><a href="https://steamcommunity.com/profiles/@ban.PlayerId" target="_blank">@ban.Player.PlayerName</a></td>
                <td><a href="https://steamcommunity.com/profiles/@ban.PunisherId" target="_blank">@ban.Punisher.PlayerName</a></td>
                <td>@ban.BanReason</td>
                <td data-order="@ban.BanDuration">@ban.BanDuration.ToPrettyFormat()</td>
                <td>@ban.BanCreated.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

@if (hasAccess)
{
    <div class="modal fade" id="BanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Ban</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="was-validated" id="banForm" action="/bans">
                    <div class="modal-body">
                        <input name="punisherId" value="@player.PlayerId" type="hidden" />
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">SteamID</span>
                            </div>
                            <input name="playerId" type="number" class="form-control is-vakid" step="1" placeholder="@player.PlayerId" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Reason</span>
                            </div>
                            <input name="reason" type="text" class="form-control" step="1" placeholder="Swearing on the global chat" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Duration</span>
                            </div>
                            <input name="duration" type="number" class="form-control" step="1" placeholder="Use seconds">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit Ban</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RevokeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Revoke Ban</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="was-validated" id="revokeForm" action="/bans">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">BanID</span>
                            </div>
                            <input name="banid" type="number" class="form-control" step="1" placeholder="12" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Revoke Ban</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/css/dataTables.bootstrap4.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/plugins/responsive/css/responsive.bootstrap4.css" asp-append-version="true" />

    <style>
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/plugins/responsive/js/dataTables.responsive.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/plugins/responsive/js/responsive.bootstrap4.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-notify/bootstrap-notify.js" asp-append-version="true"></script>
    <script src="~/js/bans.js" asp-append-version="true"></script>
}
