@{
    ViewData["Title"] = "Account";
    Player player = ViewData["Player"] as Player;
}

<div class="jumbotron">
    <h3 class="text-center">Information</h3>
    <br />
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-primary">@player.PlayerName</li>
        <li class="list-group-item list-group-item-primary"><img src="~/img/flags/@string.Concat(player.PlayerCountry, ".png")" alt="@player.PlayerCountry"/></li>
        <li class="list-group-item list-group-item-primary"><a href="https://steamcommunity.com/profiles/@player.PlayerId" target="_blank">@player.PlayerId</a></li>

    </ul>
    <h3 class="text-center">Your Bans</h3><br />
    <table class="table">
        <thead>
            <tr>
                <td>Ban ID</td>
                <td>Punisher</td>
                <td>Reason</td>
                <td>Duration</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ban in player.PlayerBans)
            {
                string banStatus = ban.IsExpired() ? "bg-success" : "bg-danger";
                <tr class="@banStatus">
                    <td>@ban.BanId</td>
                    <td><a href="https://steamcommunity.com/profiles/@ban.PunisherId" target="_blank">@ban.Punisher.PlayerName</a></td>
                    <td>@ban.BanReason</td>
                    <td>@ban.BanDuration.ToPrettyFormat()</td>
                    <td>@ban.BanCreated.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
